.shopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
  background-color: whitesmoke;
}

.shopContainer > div {
  display: flex;
  width: clamp(70%, 850px, 100%);
  align-items: center;
  justify-content: center;
}

.discountContainer,
.categoriesContainer {
  background-image: url(../../assets/shop-background.jpg);
}

.discountContainer {
  flex-direction: column;

  padding: 30px 40px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

.latestContainer {
  gap: 20px;
  height: 600px;
  justify-content: space-between;
  padding: 80px;
  background-image: url(../../assets/featured-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.latestContainer > div {
  border: 2px solid white;
  height: 100%;
  padding: 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.categoriesContainer {
  flex-direction: column;
}

.links {
  display: flex;
  gap: 50px;
}

.left,
.right {
  background-position: center;
  background-size: cover;
  min-width: 200px;
}

.left {
  background-image: url(../../assets/summer-fit.jpg);
}

.right {
  background-image: url(../../assets/breathable-fabric.jpg);
}

.menImage,
.womenImage,
.electronicsImage,
.jewelryImage {
  min-width: 180px;
  min-height: 200px;
  border-radius: 25px;
  border: 2px solid white;

  background-size: cover;
}

.menImage {
  background-image: url(../../assets/men-shirt.jpg);
}

.womenImage {
  background-image: url(../../assets/women-shirt.jpg);
}

.electronicsImage {
  background-image: url(../../assets/electronics.jpg);
}

.jewelryImage {
  background-image: url(../../assets/jewelry.jpg);
}
