.product {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  border: 3px solid black;
  background-color: whitesmoke;
  border-radius: 25px;
}

.imageContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.imgae {
  object-fit: cover;
}

.productName {
  font-size: 18px;
}

.productPrice {
  font-size: 16px;
  font-weight: bold;
  color: red;
}
